.appContainer {
	display: flex;
	flex-direction: column;
	height: 100vh;
	overflow: hidden;
	font-family:
		"Inter",
		-apple-system,
		sans-serif;
	overflow-x: hidden;
	background-color: #f1f5f9;
}

.splitView {
	display: flex;
	flex: 1;
	overflow: hidden;
}

.editorSection {
	width: 40%;
	padding: 2.5rem 2rem;
	background-color: #fcfafa;
	border-right: 1px solid #e5e7eb;
	overflow-y: auto;
}

.editorSection h1 {
	font-size: 1.5rem;
}

.previewSection {
	width: 60%;
	padding: 3rem 2rem;
	background-color: #f1f5f9;
	background-image: radial-gradient(#c5c5c5 1px, transparent 1px);
	background-size: 24px 24px;
	display: flex;
	justify-content: center;
	align-items: flex-start;
	overflow-y: auto;
	box-shadow: -10px 0 30px rgba(0, 0, 0, 0.02);
}

@media (max-width: 1024px) {
	.appContainer {
		height: auto;
		min-height: 100vh;
		overflow: visible;
	}
	.splitView {
		flex-direction: column;
		overflow: visible;
	}
	.editorSection {
		width: 100%;
		padding: 0.5rem 0rem;
		border-right: none;
		border-bottom: 1px solid rgba(255, 255, 255, 0.8);
		overflow-y: visible;
	}
	.editorSection h1 {
		margin-left: 1.2rem;
	}
	.previewSection {
		width: 100%;
		padding: 1rem 0.5rem;
		justify-content: center;
		margin: auto;
		overflow-x: auto;
		-webkit-overflow-scrolling: touch;
	}
	.previewSection::after {
		content: "";
		padding-right: 1rem;
	}
}

@media print {
	.editorSection {
		display: none !important;
	}
	.previewSection {
		width: 100% !important;
		padding: 0 !important;
		background: white !important;
		overflow: visible !important;
		justify-content: flex-start !important;
	}
	.previewSection div {
		box-shadow: none !important;
		margin: 0;
	}
	.splitView {
		display: block !important;
		overflow: visible !important;
	}
}
