.appContainer {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	font-family: "Inter", sans-serif;
	overflow-x: hidden;
}

.splitView {
	display: flex;
	flex: 1;
	overflow: hidden;
}

.editorSection {
	width: 40%;
	padding: 2rem;
	background-color: #f3f4f6;
	overflow-y: auto;
	border-right: 2px solid #e5e7eb;
}

.previewSection {
	width: 60%;
	padding: 2rem;
	background-color: #52525b;
	overflow-y: auto;
	display: flex;
	justify-content: center;
	align-items: flex-start;
}

@media print {
	.editorSection {
		display: none !important;
	}

	.previewSection {
		width: 100% !important;
		padding: 0 !important;
		background: white !important;
		overflow: visible !important;
	}

	.splitView {
		display: block !important;
		overflow: visible !important;
	}
}

@media (max-width: 1024px) {
	.splitView {
		flex-direction: column;
		overflow: visible;
	}

	.editorSection {
		width: 100%;
		padding: 0rem;
		border-bottom: 2px solid #e5e7eb;
		overflow-x: hidden;
	}
	.editorSection h1 {
		margin-left: 0.5rem;
	}
	.previewSection {
		width: 100%;
		padding: 0rem;
		padding-top: 0.5rem;
		display: flex;
		justify-content: center;
		align-items: center;
		overflow-y: auto;
	}
}
