/* Header font */
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap");
/* Inter*/
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

body {
	margin: 0;
}
::-webkit-scrollbar {
	width: 8px;
	height: 8px;
}

::-webkit-scrollbar-track {
	background: transparent;
}

::-webkit-scrollbar-thumb {
	background-color: rgba(15, 23, 42, 0.15);
	border-radius: 10px;
	border: 2px solid transparent;
	background-clip: padding-box;
	transition: all 0.2s ease;
}

::-webkit-scrollbar-thumb:hover {
	background-color: rgba(15, 23, 42, 0.3);
}
* {
	scrollbar-width: thin;
	scrollbar-color: rgba(15, 23, 42, 0.15) transparent;
}

@media print {
	@page {
		margin: 0;
	}
	body {
		margin: 0;
	}
}
